.WebContainer
{
    width: 100%;
    min-width: 1000px;
    height: auto;
}

.container-fluid 
{
    padding: 0;
    margin: 0;
    border: 3px solid #000000;
    background-image: url('Assets/Container-1-background.png');
    color: whitesmoke;  
    width: 100%;
    height: 98vh;
}

nav
{
    border: 3px solid #e3e1d4;
    background-color: #3b383f;
}

.image1 
{
    border: 3px solid #3b383f;
}

.menu_image 
{
    width: 300px;
    height: 100px;
    border: 3px solid #000000;
}

.button1 
{
    background-image: url('Assets/Button\ 1.png');
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 55px;
    float: right;
}

.button2 
{
    background-image: url('Assets/Button\ 2.png');
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 55px;
    float: right;
}

.button3 
{
    background-image: url('Assets/Button\ 3.png');
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 55px;
    float: right;
}

.button4 
{
    background-image: url('Assets/Button\ 4.png');
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 55px;
    float: right;
}

.button5
{
    background-image: url('Assets/learnmore.png');
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 55px;
}

.button1NL 
{
    background-image: url('./Assets/knop1.png');
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 55px;
    float: right;
}

.button2NL
{
    background-image: url('./Assets/Button\ 2.png');
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 55px;
    float: right;
}

.button3NL
{
    background-image: url('./Assets/knop3.png');
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 55px;
    float: right;
}

.button4NL
{
    background-image: url('./Assets/knop4.png');
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 55px;
    float: right;
}

.button5NL
{
    background-image: url('./Assets/knop5.png');
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 55px;
}

.buttonEN
{
    background-image: url('./Assets/english.png');
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 55px;
}

.buttonNL
{
    background-image: url('./Assets/nederlands.png');
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 55px;
}

@media only screen and (max-width: 600px)
{
    .menu_image 
    {
        width: 100%;
        height: auto;
        border: 3px solid #000000;
    }

    .button1 
    {
        background-image: url('Assets/Button\ 1.png');
        background-size: cover;
        background-position: center;
        width: 20%;
        height: 45px;
    }

    .button2 
    {
        background-image: url('Assets/Button\ 2.png');
        background-size: cover;
        background-position: center;
        width: 20%;
        height: 45px;
    }

    .button3 
    {
        background-image: url('Assets/Button\ 3.png');
        background-size: cover;
        background-position: center;
        width: 20%;
        height: 45px;
    }

    .button4 
    {
        background-image: url('Assets/Button\ 4.png');
        background-size: cover;
        background-position: center;
        width: 20%;
        height: 45px;
    }

    .button5
    {
        background-image: url('Assets/learnmore.png');
        background-size: cover;
        background-position: center;
        width: 20%;
        height: 45px;
    }

    .button1NL 
    {
        background-image: url('./Assets/knop1.png');
        background-size: cover;
        background-position: center;
        width: 20%;
        height: 45px;
    }

    .button2NL
    {
        background-image: url('./Assets/Button\ 2.png');
        background-size: cover;
        background-position: center;
        width: 20%;
        height: 45px;
    }

    .button3NL
    {
        background-image: url('./Assets/knop3.png');
        background-size: cover;
        background-position: center;
        width: 20%;
        height: 45px;
    }

    .button4NL
    {
        background-image: url('./Assets/knop4.png');
        background-size: cover;
        background-position: center;
        width: 20%;
        height: 45px;
    }

    .button5NL
    {
        background-image: url('./Assets/knop5.png');
        background-size: cover;
        background-position: center;
        width: 20%;
        height: 45px;
    }

    .buttonEN
    {
        background-image: url('./Assets/english.png');
        background-size: cover;
        background-position: center;
        width: 20%;
        height: 45px;
    }

    .buttonNL
    {
        background-image: url('./Assets/nederlands.png');
        background-size: cover;
        background-position: center;
        width: 20%;
        height: 45px;
    }
}


